.apocalypse-gallery, .apocalypse-gallery *{
box-sizing:border-box;
margin:0;
padding:0;
}
.apocalypse-gallery{
position:relative;
overflow: hidden;
width: 300px;
height:150px;
border:1px solid gray;
display:block;
}
.apocalypse-gallery > tbody{
position: absolute;
display:block;
top: 0;
}
.apocalypse-gallery > tbody tr{
display:inline-block;
width: 300px;
height:150px;
}
